<div style=" width:100%;height: 900px" id="register">
  <!--教师注册-->
  <div class="login">
    <div class="login-top">
      教师注册
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="assets/images/name.png" height="20" width="20"/></div>
      <div class="login-center-input">
        <input type="text" name="" value="" [(ngModel)]="teaRegister.name" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
        <div class="login-center-input-text">用户名</div>
      </div>
    </div>

    <div class="login-center clearfix">
      <div class="login-center-img"><img src="assets/images/email2.png" height="20" width="20"/></div>
      <div class="login-center-input">
        <input type="text" name="" value="" [(ngModel)]="teaRegister.email" placeholder="请输入您的邮箱" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的邮箱'"/>
        <div class="login-center-input-text">用户邮箱</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="assets/images/password.png" height="20" width="20"/></div>
      <div class="login-center-input">
        <input type="password" name=""value="" [(ngModel)]="teaRegister.password" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
        <div class="login-center-input-text">密码</div>
      </div>
    </div>
    <span style="margin-left: 15%;">选择课程：</span><select name="lesson" [(ngModel)]="teaRegister.lesson" style="margin-top: 10px;width: 35%;height: 20px" placeholder="请选择课程">
    <option name="select" selected="selected">--请选择课程--</option>  
    <option *ngFor="let list of lessonlist" value="{{list.id}}">{{list.name}}</option>
  </select>
    <br>
    <input type="radio" name="role" (click)="stuBox()" style="margin-left: 16%;margin-top: 5%"><span>学生</span><input type="radio" name="role" (click)="teaBox()" checked><span>教师</span><input type="radio" name="role" (click)="masBox()"><span>教导主任</span>

    <div>
      <p class="login-button" (click)="reg()">注册</p>
    </div>

  </div>
</div>
<div class="fade" [class.show]="isActive  ==='show'"></div> 
<div class="succ-pop" [class.show]="isActive  ==='show'">
    <h3 class="title">
        注册失败
    </h3>
    <br>
    <h2 class="word">抱歉，注册失败!</h2>
    <br>
    <br>
   <button style="background-color: dodgerblue; color: white;width: 130px;height: 35px;margin-left: 240px" (click)="returnlogin()">点击此处返回</button>
</div>
